.intro {

  &__wrapper {
    padding: 75px 0 140px 0;
    background-color: #151515;
  }

  &__img {
    border-radius: 50%;
    border: #ff0000 1px solid;
    box-shadow: #ff0000 5px 5px 45px;
    margin-bottom: 25px;
  }

  &__subtitle {
    font-size: 35px;
    margin-bottom: 25px;
  }

  @media (max-width: 556px) {

    &__wrapper {
      padding: 25px 0 40px  ;
      background-color: #151515;
    }

    &__subtitle {
      font-size: 25px;
      margin-bottom: 25px;
    }
  }
}