body,
html {
  height: 100%;
  font-family: "Poppins", sans-serif !important;
  font-style: normal;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #a00000;
  border-radius: 6px;
}

body::-webkit-scrollbar-track {
  background-color: #3d0000;
}

#root {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
}


.main {
  flex-grow: 1;
  position: relative;
  transition: .5s;
}

.container {
  max-width: 1575px;
}

.red {
  color: #FF0000;
}

.red-shadow {
  text-shadow: #ff0000 0 0 25px;
}

li {
  list-style: none;
}

p {
  font-weight: 400;
  font-size: 16px;
}

h4 {
  font-weight: 500;
  font-size: 25px;
}

h3 {
  font-weight: 600;
  font-size: 26px;
}

h1,
h2 {
  font-weight: 700;
  font-size: 80px;
}

@media (max-width: 556px) {

  h1,
  h2 {
    font-weight: 700;
    font-size: 42px;
  }
  
}